let mapleader = " "
"Mute"
set visualbell

" highlight yank
set highlightedyank

set surround
set commentary

nnoremap <leader>st 
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
map <leader>rn <Action>(RenameElement)
nnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>t :action FindInPath<CR>
nnoremap <leader>T :action SearchEverywhere<CR>


