#Ignore all mpd files but the config
mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf

# Ignore sensitive gitconfig
git/.gitconfig.local

#Ignore kitty-themes
kitty/.config/kitty/kitty-themes
kitty/.config/kitty/theme.conf
