
copy_on_select true
default_layout "compact"
keybinds {
	tmux {
    bind "1" { GoToTab 1; SwitchToMode "Normal"; }
    bind "2" { GoToTab 2; SwitchToMode "Normal"; }
    bind "3" { GoToTab 3; SwitchToMode "Normal"; }
    bind "4" { GoToTab 4; SwitchToMode "Normal"; }
    bind "5" { GoToTab 5; SwitchToMode "Normal"; }
    bind "6" { GoToTab 6; SwitchToMode "Normal"; }
    bind "7" { GoToTab 7; SwitchToMode "Normal"; }
    bind "8" { GoToTab 8; SwitchToMode "Normal"; }
    bind "9" { GoToTab 9; SwitchToMode "Normal"; }
    bind "d" "_" "-" { NewPane "Down"; SwitchToMode "Normal"; }
    bind "r" "|" "\\"{ NewPane "Right"; SwitchToMode "Normal"; }
    bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    bind "w" { ToggleFloatingPanes; SwitchToMode "Normal"; }
    bind "m" { SwitchToMode "Move"; }
	}
	shared_except "tmux" "locked" {
		bind "Ctrl a" { SwitchToMode "Tmux"; }
	}
	unbind "Ctrl o" "Ctrl h" "Ctrl g"
}
mouse_mode true
simplified_ui true
theme "dracula"
themes {
	catppuccin-macchiato {
		bg "#5b6078"
		black "#1e2030"
		blue "#8aadf4"
		cyan "#91d7e3"
		fg "#cad3f5"
		green "#a6da95"
		magenta "#f5bde6"
		orange "#f5a97f"
		red "#ed8796"
		white "#cad3f5"
		yellow "#eed49f"
	}
}
ui {
	pane_frames {
		hide_session_name true
	}
}
